#temperature {
    display: inline-block;
}
#icon {
    display: inline-block;
}

.container-fluid {
    max-width: 500px;
}

body {
    background: url("https://wallpaperscraft.com/image/sky_blue_white_clouds_tenderness_4937_1920x1080.jpg");
}